header
    .ruler

    a.icon-th-list(title="show devices")
    a.icon-plus(title="add layout")

    div.url
        form(method="POST", action="/")
            input(placeholder="http://", value="#{site}")
            button.icon-search(type="submit")