header
    .ruler

    a.icon-th-list(title="show devices")
    a.icon-plus-sign(title="add layout")

    .pins
        .pin
            a.icon-screenshot
            |   Mobile
        .pin Desktop

    div.url
        form(method="POST", action="/")
            input(placeholder="http://", value="#{site}")
            button.icon-search(type="submit")