div.ruler
    div.ruler-left
        div.mark
        each rule, i in rules
            if( i != 0)
                div.rule(style="right:#{rule}px", data-rule="#{rule}")
    div.ruler-right
        div.mark
        each rule, i in rules
            div.rule(style="left:#{rule}px", data-rule="#{rule}")