div.ruler
    div.ruler-left
        each rule, i in rules
            if( i != 0)
                div.rule(style="right:#{rule}px", data-rule="#{rule}")
    div.ruler-right
        each rule, i in rules
            div.rule(style="left:#{rule}px", data-rule="#{rule}")

    div.ruler-marker
        span.mark-left
        span.mark-right
