extends base

block css
    link(href="http://fonts.googleapis.com/css?family=Overlock", rel="stylesheet", type="text/css")
    link(rel='stylesheet', href='/stylesheets/app.css')

block header
    include ../modules/header

block templates
    script(id="iframeTmpl", type="text/x-jsrender")
        include ../modules/iframe

block footer-scripts
    script(src='/javascripts/vendor/jquery/jquery-1.7.1.min.js')
    script(src='/javascripts/vendor/jquery/jsrender.js')
    script(src='/javascripts/responsive.js')