!!! 5
html
    head
        title= title
        meta(name="description", content="Responsive design testing tool")
        meta(name="keywords", content="responsive design, responsivility, responsive testing, responsive design testing, adaptive design, adaptive design testing, css3")
        link(rel='stylesheet', href='/stylesheets/base.css')

        block css

        block templates

        block header-scripts
    body
        div.page
            block header

            != body

            block footer

            script(src='/javascripts/analytics.js')
            block footer-scripts
