block append
    link(rel='stylesheet', href='/stylesheets/about.css')

div.forkme
    a(href="#",title="Fork me on github") Fork me <span>on github</span>

h1 Responsivility
    span You cannot escape the <i>responsibility</i> <b>responsivility</b>  of tomorrow by evading it today - Abraham Lincoln


h2 Keyboard shortcuts
p coming soon