block header
    link(rel='stylesheet', href='/stylesheets/about.css')
append header

.about
    a(class="forkme", href="https://github.com/arcaniusx/Responsivility", target="_blank", title="Fork me on github") Contribute <span>on github</span>

    h1 Responsiv.ly
        span think responsively
    a(href="#") test

    h2 About
    p coming soon

    h2 Keyboard shortcuts
    p coming soon

    h2 About
    p coming soon

    h2 Keyboard shortcuts
    p coming soon

    h2 About
    p coming soon

    h2 Keyboard shortcuts
    p coming soon

    h2 About
    p coming soon

    h2 Keyboard shortcuts
    p coming soon
