block append
    link(rel='stylesheet', href='/stylesheets/about.css')


h1 Responsivility
    span You cannot escape the responsibility of tomorrow by evading it today - Abraham Lincoln ( almost )


h2 Keyboard shortcuts
p coming soon