!!! 5
html
    head
        title= title
        meta(name="description", content="Responsive design testing tool")
        meta(name="keywords", content="responsive design, responsivility, responsive testing, responsive design testing, adaptive design, adaptive design testing, css3")
        link(rel='stylesheet', href='/stylesheets/base.css')
        block css

        block header-scripts
    body
        div.page
            include modules/header
            block header

            div.page-content
                != body

            block footer

        block templates

        script(src='/javascripts/vendor/jquery/jquery-1.7.1.min.js')
        script(src='/javascripts/responsive.js')
        block footer-scripts