$deviceScale = .0325
$devicesStartPoint = 31px

$desktopWidth = 1200px
$desktopHeight = 800px

$tabletLandscapeWidth = 1024px
$tabletLandscapeHeight = 768px

$mobileLandscapeWidth = 480px
$mobileLandscapeHeight = 320px

$smallTabletLandscapeWidth = 640px
$smallTabletLandscapeHeight = 460px

.page-devices
    bottom: 0
    padding: 2em 1em 0 1em
    position: absolute
    left: -1 * $deviceColumnSize
    top: 0
    width: $deviceColumnSize
    z-index: 0

    ul
        list-style: none
        margin: 0
        padding: 0

        li
            clear: both
            cursor: pointer
            height: 3em
            position: relative
            margin: 0 0 .375em 0
            padding-right: .5em

            h3
                color: #eee
                border-bottom: 1px solid #aaa
                font-size: .875em
                height: 1.75em
                line-height: 1.75em
                margin: 0

            p
                color: #ccc
                font-size: .75em
                font-weight: bold
                height: 1.75em
                line-height: 1.75em
                margin: 0

            &:after
                background: #e7e7e7
                border-radius: 2px
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2)
                content: ''
                absolute: top 1.5em right 0

            &:hover h3
                border-color: $darkblue
                color: $darkblue

            &:hover p
                color: #96DEF6

            &.selected h3
                border-color: $darkblue
                color: $darkblue

            &:hover:after
                background: #96def6
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .4)

            &.selected:after
                background: #4ab2d4
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2)

            &:before
                background: #96def6
                content: ''
                display: none
                height: 7px
                absolute: top 20px left 50%

            &.auto:after
                border-radius: 10px
                height: 20px
                margin-top: -10px
                width: 20px

            &.desktop:after
                height: $desktopHeight * $deviceScale
                margin-top: (( $desktopHeight * $deviceScale ) / -2 )
                width: $desktopWidth * $deviceScale

            &.tablet-portrait:after
                height: $tabletLandscapeWidth * $deviceScale
                margin-top: (( $tabletLandscapeWidth * $deviceScale ) / -2 )
                width: $tabletLandscapeHeight * $deviceScale

            &.tablet-landscape:after
                height: $tabletLandscapeHeight * $deviceScale
                margin-top: (( $tabletLandscapeHeight * $deviceScale ) / -2 )
                width: $tabletLandscapeWidth * $deviceScale

            &.small-tablet-portrait:after
                height: $smallTabletLandscapeWidth * $deviceScale
                margin-top: (( $smallTabletLandscapeWidth * $deviceScale ) / -2 )
                width: $smallTabletLandscapeHeight * $deviceScale

            &.small-tablet-landscape:after
                height: $smallTabletLandscapeHeight * $deviceScale
                margin-top: (( $smallTabletLandscapeHeight * $deviceScale ) / -2 )
                width: $smallTabletLandscapeWidth * $deviceScale

            &.mobile-portrait:after
                height: $mobileLandscapeWidth * $deviceScale
                margin-top: (( $mobileLandscapeWidth * $deviceScale ) / -2 )
                width: $mobileLandscapeHeight * $deviceScale

            &.mobile-landscape:after
                height: $mobileLandscapeHeight * $deviceScale
                margin-top: (( $mobileLandscapeHeight * $deviceScale ) / -2 )
                width: $mobileLandscapeWidth * $deviceScale