header
    background: $lightgray
    height: $headerSize
    position: fixed
    top: 0
    left: 0
    right: 0

    .ruler
        background: #d7d7d7
        border-bottom: 1px solid $lightgray
        bottom: -4px
        box-shadow: inset 0 1px 1px #acacac
        height: $rulerHeight
        absolute: left 0 right 0

    .icon-plus,
    .icon-th-list
        absolute: top 0
        color: #cdcdcd
        cursor: pointer
        font-size: 20px
        height: 30px
        padding-top: 4px
        text-align: center
        text-shadow: 1px 1px 1px #fff
        width: 36px

        &:hover
            color: $darkblue
            text-shadow: none

        &:active
            color: #fff

    .icon-th-list
        left: 0

        &.active
            background: #585858
            text-shadow: none

        &.active:hover
            color: #cdcdcd

    .icon-plus
        left: 36px

    .url
        absolute: top 0 right 0
        height: 30px

        form
            width: 100%

            input
                background: transparent
                border: 0
                color: #cdcdcd
                float: left
                font-size: 12px
                line-height: 30px
                height: 30px
                padding-left: 10px
                outline: none
                text-align: right
                width: auto

            button
                background: transparent
                border: 0
                color: #cdcdcd
                float: left
                font-size: 20px
                height: 30px
                line-height: 30px
                width: 36px

                &:hover
                    color: $darkblue

        &:hover
            button
                color: #585858
            input
                color: #585858

        & input:focus
            color: #585858

            & + button
                color: #585858


