header
    background: $lightgray
    left: 0
    height: $headerSize
    position: fixed
    padding: 0 100px 0 72px
    right: 0
    top: 0

    .ruler
        background: #d7d7d7
        border-bottom: 1px solid $lightgray
        bottom: -4px
        box-shadow: inset 0 1px 1px #acacac
        height: $rulerHeight
        absolute: left 0 right 0

    .icon-plus-sign,
    .icon-th-list
        absolute: top 0
        color: #cdcdcd
        cursor: pointer
        font-size: 18px
        height: 31px
        padding-top: 6px
        text-align: center
        text-shadow: 1px 1px 1px #fff
        transition: all .5s ease-out
        width: 36px

        &:hover
            color: #585858
            text-shadow: none

        &:active
            color: #fff

    .icon-th-list
        left: 0

        &.active
            background: #585858
            text-shadow: none

        &.active:hover
            color: #cdcdcd

    .icon-plus-sign
        left: 36px


    .pins
        height: 100%
        width: 100%

        .pin
            color: #999
            display: inline-block
            font-size: 11px
            height: 32px
            line-height: 30px
            margin: 2px 0 0 0
            padding: 0 12px 0 12px

    .url
        background: $lightgray
        absolute: top 0 right 0
        height: 30px
        padding-right: 32px
        width: auto

        form
            width: 100%

            input
                background: transparent
                border: 0
                color: #cdcdcd
                font-size: 12px
                line-height: 30px
                height: 30px
                padding: 0 8px
                outline: none
                text-align: right
                transition: all .5s ease-out
                width: 72px

            button
                background: transparent
                border: 0
                color: #cdcdcd
                float: left
                font-size: 20px
                height: 30px
                line-height: 30px
                position: absolute
                right: 0
                top: 0
                transition: all .5s ease-out
                width: 36px

                &:active
                    color: #fff

        &:hover
            button
                color: #585858
            input
                color: #585858
                width: 300px

        & input:focus
            color: #585858
            width: 300px

            & + button
                color: #585858


