@import 'nib'

/* colors */
$lightgray = #eee


$headerSize = 35px
$deviceColumnSize = 250px

$rulerSize = 6000px
$rulerInterval = 50px
$rulerHeight = 8px
$rulerRoundedCorner = 1px
$rulerStartPoint = -5px

$darkblue = #4AB2D4

html,
body
    background: #585858
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

html
    overflow: hidden

body
    overflow-x: scroll
    overflow-y: hidden

.page
    height: 100%
    margin: 0
    position: relative
    width: 100%

    &
        @import "../stylus/modules/header"

    &.devices .page-content
        transform: translate3d($deviceColumnSize,0,0);

    &.fx .page-iframe
        transition: all .2s ease-out

    .page-content
        bottom: 0
        left: 0
        position: absolute
        right: 0
        top: $headerSize
        transform: translate3d(0,0,0)
        transition: all .2s ease-out
        white-space: nowrap
        z-index: 1

        .page-iframe
            background: $lightgray
            box-shadow: 0 0 10px rgba(0, 0, 0, .7)
            height: 100%
            display: inline-block
            padding-top: $headerSize
            position: relative
            width: 100%
            white-space: normal

            & + .page-iframe
                margin-left: 20px

            .icon-pushpin,
            .icon-trash,
            .icon-refresh
                background: $lightgray
                color: #cdcdcd
                cursor: pointer
                font-size: 18px
                position: absolute
                top: 10px

            .icon-refresh
                left: 10px
                transition: all 1s ease-out

                &:hover
                    color: #4AB2D4
                    transform: rotate( 1080deg )

            .icon-trash
                right: 10px
                transition: all .3s ease-out

                &:hover
                    color: #D9482F

            .icon-pushpin
                transform-origin: 100% 100%
                transition: all .3s ease-out
                right: 30px

                &:hover
                    color: $darkblue
                    transform: rotate( 15deg )

            .page-iframe-mask
                background: #000
                bottom: 0
                left: 0
                margin-top: $headerSize
                opacity: .3
                pointer-events: none
                position: absolute
                right: 0
                transition( top .2s ease-out )
                top: 100%

            iframe
                display: block
                border: 0
                border-top: 1px solid #ddd
                float: left
                height: 100%
                width: 100%

            .page-iframe-marker
                background: #4ab2d4
                height: $rulerHeight - 1
                absolute: right 0 left 0
                margin-top: -($headerSize + 4)
                transition: width .4s

                &:before,
                &:after
                    content: ''
                    absolute: top 0
                    height: 100%
                    width: 30px

                &:before
                    background: linear-gradient(right, #4ab2d4 0%, #5ec1e1 50%)
                    left: 0

                &:after
                    background: linear-gradient(left, #4ab2d4 0%, #5ec1e1 50%)
                    right: 0

            &.locked
                .icon-pushpin
                    color: $darkblue
                    transform: rotate( 15deg )

            &.auto
                .page-iframe-mask
                    top: 100%

            &.mobile-portrait
                width: 320px

                .page-iframe-mask
                    top: 480px

            &.mobile-landscape
                width: 480px

                .page-iframe-mask
                    top: 320px

            &.small-tablet-portrait
                width: 460px

                .page-iframe-mask
                    top: 640px

            &.small-tablet-landscape
                width: 640px

                .page-iframe-mask
                    top: 460px

            &.tablet-portrait
                width: 768px

                .page-iframe-mask
                    top: 1024px

            &.tablet-landscape
                width: 1024px

                .page-iframe-mask
                    top: 768px

            &.desktop
                width: 1200px

                .page-frame-mask
                    top: 800px

                iframe
                    height: 100%
                    transition: none


        .ruler
            display: none
            background: #d7d7d7
            border-bottom: 1px solid $lightgray
            top: $rulerStartPoint
            box-shadow: inset 0 1px 1px #acacac
            height: $rulerHeight
            absolute: left 50%
            margin-left:  -1 * ($rulerSize / 2)
            width: $rulerSize

@import "../stylus/modules/devices"