article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
::-webkit-input-placeholder{color:#bbb;font-size:12px}
:-moz-placeholder{color:#bbb;font-size:12px}
html,body{background:#585858;overflow:hidden}
.page{margin:0;}
.page header{background:#eee;border-bottom:1px solid #fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.60);-moz-box-shadow:0 0 10px rgba(0,0,0,0.60);box-shadow:0 0 10px rgba(0,0,0,0.60);color:#fff;height:85px;left:-10px;padding:10px 10px 0;position:fixed;right:-10px;top:-10px;z-index:2;}
.page header .devices{position:absolute;left:50%;((null)):0;top:31px;height:1px;margin-left:-3000px;width:6000px;z-index:3;}
.page header .devices .device{cursor:pointer;}
.page header .devices .device p{background:#4ab2d4;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.30);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.30);box-shadow:0 1px 2px rgba(0,0,0,0.30);color:#fff;display:none;font-size:12px;position:absolute;top:50px;left:50%;margin-left:-120px;padding:10px;text-align:center;width:240px;z-index:5}
.page header .devices .device:after{background:#e7e7e7;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);content:'';position:absolute;top:0;left:50%;z-index:4}
.page header .devices .device:hover p{display:block}
.page header .devices .device:hover:after{background:#96def6;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.40);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.40);box-shadow:inset 0 1px 1px rgba(0,0,0,0.40)}
.page header .devices .device.selected:after{background:#4ab2d4;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);box-shadow:inset 0 1px 1px rgba(0,0,0,0.20)}
.page header .devices .device:before{background:#96def6;content:'';display:none;height:7px;position:absolute;top:20px;left:50%}
.page header .devices .device:hover:before{display:block}
.page header .devices .device.auto:before{left:0;right:0}
.page header .devices .device.auto:after{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;height:8px;margin-left:-4px;margin-top:-4px;width:8px}
.page header .devices .device.desktop:before{margin-left:-600px;width:1200px}
.page header .devices .device.desktop:after{height:22.400000000000002px;margin-left:-125px;margin-top:-11.200000000000001px;width:33.6px}
.page header .devices .device.tablet-portrait:before{margin-left:-384px;width:768px}
.page header .devices .device.tablet-portrait:after{height:28.672px;margin-left:60px;margin-top:-14.336px;width:21.504px}
.page header .devices .device.tablet-landscape:before{margin-left:-512px;width:1024px}
.page header .devices .device.tablet-landscape:after{height:21.504px;margin-left:-85px;margin-top:-10.752px;width:28.672px}
.page header .devices .device.small-tablet-portrait:before{margin-left:-230px;width:460px}
.page header .devices .device.small-tablet-portrait:after{height:17.92px;margin-left:35px;margin-top:-8.96px;width:12.88px}
.page header .devices .device.small-tablet-landscape:before{margin-left:-320px;width:640px}
.page header .devices .device.small-tablet-landscape:after{height:12.88px;margin-left:-50px;margin-top:-6.44px;width:17.92px}
.page header .devices .device.mobile-portrait:before{margin-left:-160px;width:320px}
.page header .devices .device.mobile-portrait:after{height:13.44px;margin-left:15px;margin-top:-6.72px;width:8.96px}
.page header .devices .device.mobile-landscape:before{margin-left:-240px;width:480px}
.page header .devices .device.mobile-landscape:after{height:8.96px;margin-left:-25px;margin-top:-4.48px;width:13.44px}
.page header .ruler{background:#d7d7d7;border-bottom:1px solid #fff;bottom:25px;-webkit-box-shadow:inset 0 1px 1px #acacac;-moz-box-shadow:inset 0 1px 1px #acacac;box-shadow:inset 0 1px 1px #acacac;height:8px;position:absolute;left:50%;((null)):0;margin-left:-3000px;width:6000px;}
.page header .ruler .ruler-left,.page header .ruler .ruler-right{background:#4ab2d4;height:100%;min-width:150px;-webkit-transition:width .4s;-moz-transition:width .4s;transition:width .4s;width:100%;z-index:5;}
.page header .ruler .ruler-left .mark,.page header .ruler .ruler-right .mark{background:#fcc;height:20px;position:absolute;top:-20px;((null)):0;width:20px}
.page header .ruler .ruler-left{position:absolute;right:50%;((null)):0;margin-right:-1px;}
.page header .ruler .ruler-left .mark{left:-10px}
.page header .ruler .ruler-right{position:absolute;left:50%;((null)):0;margin-left:-1px;}
.page header .ruler .ruler-right .mark{right:-10px}
.page header .ruler .ruler-left:after,.page header .ruler .ruler-right:after{content:'';position:absolute;top:0;((null)):0;height:100%;width:30px}
.page header .ruler .ruler-left:after{background:-webkit-gradient(linear, right top, left top, color-stop(0, #4ab2d4), color-stop(0.5, #5ec1e1));background:-webkit-linear-gradient(right, #4ab2d4 0%, #5ec1e1 50%);background:-moz-linear-gradient(right, #4ab2d4 0%, #5ec1e1 50%);background:linear-gradient(right, #4ab2d4 0%, #5ec1e1 50%);-webkit-border-radius:1px 0 0 1px;-moz-border-radius:1px 0 0 1px;border-radius:1px 0 0 1px;left:-1px}
.page header .ruler .ruler-right:after{background:-webkit-gradient(linear, left top, right top, color-stop(0, #4ab2d4), color-stop(0.5, #5ec1e1));background:-webkit-linear-gradient(left, #4ab2d4 0%, #5ec1e1 50%);background:-moz-linear-gradient(left, #4ab2d4 0%, #5ec1e1 50%);background:linear-gradient(left, #4ab2d4 0%, #5ec1e1 50%);-webkit-border-radius:0 1px 1px 0;-moz-border-radius:0 1px 1px 0;border-radius:0 1px 1px 0;right:-2px}
.page header .ruler .rule{border:1px solid #d7d7d7;border-left-color:#fff;height:5px;position:absolute;top:7px;z-index:3;width:1px}
.page header .ruler .rule:after{content:attr(data-rule);color:#bbb;font:9px/10px Verdana,san-serif;position:absolute;bottom:-12px;left:-50px;text-align:center;width:100px}
.page header .ruler:after{content:'';position:absolute;top:0;-webkit-box-shadow:inset 0 1px rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px rgba(0,0,0,0.15);box-shadow:inset 0 1px rgba(0,0,0,0.15);height:100%;width:30px}
.page .url{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.30);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.30);box-shadow:0 1px 2px rgba(0,0,0,0.30);position:absolute;top:98px;left:18px;z-index:4;}
.page .url form{padding-right:35px;width:100%;}
.page .url form input{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;border:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);box-shadow:inset 0 1px 1px rgba(0,0,0,0.20);color:#666;font-size:12px;line-height:24px;padding:0 10px;outline:none;-webkit-transition:all .75s;-moz-transition:all .75s;transition:all .75s;width:52px}
.page .url form button{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4ab2d4), color-stop(1, #5ec1e1));background:-webkit-linear-gradient(top, #4ab2d4 0%, #5ec1e1 100%);background:-moz-linear-gradient(top, #4ab2d4 0%, #5ec1e1 100%);background:linear-gradient(top, #4ab2d4 0%, #5ec1e1 100%);border:0;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;color:#fff;font-size:10px;height:24px;line-height:20px;position:absolute;right:0;((null)):0;text-transform:uppercase;width:35px}
.page .url:hover input{width:500px}
.page .page-content{background:#fff;height:100%;margin:-2px auto auto;top:75px;position:relative;width:100%;}
.page .page-content iframe{border:0;margin:auto;height:100%;width:100%}
.page .page-content.fx{-webkit-transition:width .4s;-moz-transition:width .4s;transition:width .4s}
