@import '../stylus/normalize'
@import '../stylus/modules/typography/font-awesome'
@import '../stylus/modules/typography/typography'

*
    -moz-box-sizing: border-box
    box-sizing: border-box

::-webkit-input-placeholder
    color: #bbb
    font-size: 12px

:-moz-placeholder
    color: #bbb
    font-size: 12px

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-track

::-webkit-scrollbar-track-piece
    background: #eee
    border-left: 1px solid #ddd
    box-shadow: inset 0 0 10px rgba(0,0,0,.3)

::-webkit-scrollbar-thumb
    background: #4AB2D4