body
        font-size: 100%

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            line-height: .95em

@media all and ( max-width: 320px )
    body
        font-size: .785em

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            line-height: .95em

@media all and ( min-width: 321px) and ( max-width: 460px )
    body
        font-size: .825em

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            line-height: 1em

@media all and ( min-width: 461px) and ( max-width: 768px )
    body
        font-size: .875em

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            line-height: 1em

@media all and ( min-width: 769px) and ( max-width: 1024px )
    body
        font-size: .925em

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            line-height: 1em
